---
- name: install virtualbox
  apt:
    name: virtualbox
    state: present
  become: true

- name: setup autocompletion
  get_url:
    url: https://raw.githubusercontent.com/gryf/vboxmanage-bash-completion/master/VBoxManage
    dest: /etc/bash_completion.d/VBoxManage
    mode: 0644
  become: true
