---
- name: check if go {{ go_version }} is installed
  shell: which go && go version | grep {{ go_version }}
  register: go_is_installed
  failed_when: no
  changed_when: no

- name: cleanup previously installed go
  file:
    path: "{{ go_install_base_dir }}/go"
    state: absent
  become: True
  when: go_is_installed.rc != 0

- name: install go {{ go_version }}
  unarchive:
    src: https://dl.google.com/go/go{{ go_version }}.linux-amd64.tar.gz
    dest: "{{ go_install_base_dir }}"
    remote_src: True
  become: True
  when: go_is_installed.rc != 0

- name: add go to PATH
  lineinfile:
    path: ~/.bashrc
    state: present
    line: export PATH=$PATH:/usr/local/go/bin

- name: create go workspace
  file:
    path: "{{ go_path }}"
    state: directory
    mode: 0755

- name: add workspace environment variable
  lineinfile:
    path: ~/.bashrc
    state: present
    line: export GOPATH={{ go_path }}

- name: add go binaries to PATH
  lineinfile:
    path: ~/.bashrc
    state: present
    line: export PATH=$PATH:{{ go_path }}/bin

- name: setup bash completion
  get_url:
    url: https://raw.githubusercontent.com/skelterjohn/go-pkg-complete/master/go-pkg-complete.bash.inc
    dest: /etc/bash_completion.d/go
    mode: 0644
  become: True

- name: install shfmt (shell formatter)
  shell: go install mvdan.cc/sh/v3/cmd/shfmt@latest
  args:
    creates: "{{ go_path }}/bin/shfmt"

- name: install golangci-lint
  shell: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest
  args:
    creates: "{{ go_path }}/bin/golangci-lint"
...
