---
- name: check if tmux is installed
  shell: which tmux && tmux -V | grep "tmux {{ tmux_version }}"
  register: tmux_is_installed
  failed_when: no
  changed_when: no

- name: include install tmux tasks when tmux is not installed
  include_tasks: install.yml
  when: tmux_is_installed.rc != 0

- name: install tmuxinator
  gem:
    name: tmuxinator
    state: present
    user_install: true

- name: setup tmuxinator autocomplete
  get_url:
    url: https://raw.githubusercontent.com/tmuxinator/tmuxinator/master/completion/tmuxinator.bash
    dest: /etc/bash_completion.d/tmuxinator.bash
  become: true

- name: create a simlink for configs
  file:
    src: "{{ role_path }}/files/.tmux.conf"
    dest: ~/.tmux.conf
    state: link

- name: clone plugin manager repo
  git:
    repo: https://github.com/tmux-plugins/tpm
    dest: ~/.tmux/plugins/tpm
    update: no

- name: install tmux plugins
  command: ~/.tmux/plugins/tpm/bin/install_plugins
  changed_when: no
