---
- name: install tmux
  apt:
    name: tmux
    state: present
  become: true

- name: create a simlink for configs
  file:
    src: "{{ role_path }}/files/.tmux.conf"
    dest: ~/.tmux.conf
    state: link

- name: clone plugin manager repo
  git:
    repo: https://github.com/tmux-plugins/tpm
    dest: ~/.tmux/plugins/tpm
    update: false

- name: install tmux plugins
  command: ~/.tmux/plugins/tpm/bin/install_plugins
  changed_when: false
