---
- name: install vim
  apt:
    name: vim
    state: present
  become: yes

- name: install vim-gtk for copy between terminals
  apt:
    name: vim-gtk
    state: present
  become: yes

- name: create a simlink for configs
  file:
    src: "{{ role_path }}/files/.vimrc"
    dest: ~/.vimrc
    state: link

- name: create a simlink for spell check dictionary
  file:
    src: "{{ role_path }}/files/.vim/spell/en.utf-8.add"
    dest: ~/.vim/spell/en.utf-8.add
    state: link

- name: create vim undo directory
  file:
    path: ~/.config/vim/tmp/undo
    state: directory
    mode: '0755'

- name: install plugins
  include_tasks: plugins.yml

