---
- name: download source code
  git:
    repo: https://github.com/ahmetb/kubectx.git
    dest: ~/.kubectx
    depth: 1
    update: no

- name: get autocomplete path
  command: pkg-config --variable=completionsdir bash-completion
  register: autocomplete_path
  failed_when: no
  changed_when: no

- name: setup autocomplete for kubens and kubectx
  file:
    src: '{{ lookup("env", "HOME") }}/.kubectx/completion/{{ item }}.bash'
    dest: '{{ autocomplete_path.stdout }}/{{ item }}'
    state: link
  loop:
    - kubens
    - kubectx
  become: true

- name: add kubectx and kubens to system PATH
  lineinfile:
    path: ~/.bashrc
    line: 'export PATH=$PATH:~/.kubectx'
    state: present

- name: setup alias for kubens and kubectx
  lineinfile:
    path: ~/.bashrc
    state: present
    line: "{{ item }}"
  loop:
    - "alias kx=kubectx"
    - "alias kn=kubens"


