- name: install development dependencies
  apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - build-essential
      - cmake
      - tree
      - pkg-config
      - python3-pip
      - clang
      - cppcheck
      - curl
      - ncdu
      - jq
      - shellcheck
      - pipx
  become: true

- name: ensure pipx path is set
  command: pipx ensurepath
  changed_when: false

- name: install python linting/formatting tools
  shell: pipx install {{ item }}
  args:
    creates: ~/.local/bin/{{ item }}
  loop:
    - uv
    - ruff
    - black
    - isort
    - mypy
    - yamllint

- name: install asg-grep
  shell: pipx install ast-grep-cli
  args:
    creates: ~/.local/bin/ast-grep

- name: create a symlink for yamllint config
  file:
    src: "{{ role_path }}/files/.yamllint"
    dest: ~/.yamllint
    state: link

- name: setup filewatchers configs
  sysctl:
    name: fs.inotify.max_user_watches
    value: 524288
    state: present
    reload: true
  become: true

- name: setup editor
  lineinfile:
    path: ~/.bashrc
    state: present
    line: "export EDITOR=vim"

- name: add ruby gems to path
  lineinfile:
    path: ~/.bashrc
    state: present
    line: 'export PATH="$PATH:$HOME/.gem/ruby/2.7.0/bin"'

- name: setup aliases for bashrc
  lineinfile:
    path: ~/.bashrc
    state: present
    line: "{{ item }}"
  loop:
    - "alias va='source .venv/bin/activate'"
    - "alias p3=python3"
    - "alias pd3=pydoc3"
    - "alias ptree='tree -I __pycache__'"
    - "alias mg='grep --exclude-dir .git --exclude-dir .venv -R'"
